body{
    display:flex;
    justify-content: center;
}
#Center-Style{
    margin-top:20%;
}
#Box1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}